<h1>Our Lastest Random Thoughts</h1>
{{#if user}}
    <a href="/posts/create" class="btn btn-info mb-3">
        <i class="bi bi-plus-circle"></i> Create New Post
    </a>
{{/if}}
<div>
    <form action="/posts/search" method="post">
        <label for="keyword">Keyword:</label><input name="keyword" required /><button class="btn btn-info">Search</button>
    </form>
</div>
<ul class="list-group">
    {{#each posts}}
        <li class="list-group-item">
            <h5><i class="bi bi-substack"></i> {{this.title}}</h5>
            <p>{{this.body}}</p>
            <p>Posted: 
                <span class="badge text-bg-secondary">{{this.date}} </span>
                by {{this.username}}
            </p>
            <a href="/posts/details/{{this._id}}" class="btn btn-info float-end">
                <i class="bi bi-book"></i> Read More
            </a>
        </li>      
    {{/each}}
</ul>