<h1>Search Results for: {{keyword}}</h1>
<a href="/posts/create" class="btn btn-info mb-3">
    <i class="bi bi-plus-circle"></i> Create New Post
</a>
<ul class="list-group">
    {{#each posts}}
        <li class="list-group-item">
            <h5><i class="bi bi-substack"></i> {{this.title}}</h5>
            <p>{{this.body}}</p>
            <p>Posted: 
                <span class="badge text-bg-secondary">{{this.date}} </span>
                by {{this.username}}
            </p>
            <a href="/posts/details/{{this._id}}" class="btn btn-info float-end">
                <i class="bi bi-book"></i> Read More
            </a>
        </li>      
    {{/each}}
</ul>